resource "docker_image" "image" {
  name = "{{ swarm_node_docker_image }}"
}

{% for i in range(swarm_node_count) %}
resource "docker_container" "swarm_node_{{ i }}" {
  image = docker_image.image.image_id
  name  = "{{ swarm_node_container_name }}_{{ i }}"
  privileged = true
}
{% endfor %}